header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  background-color: #90143d;
  color: lightgray;
  }

  img {
    width: 100%;
  }

  header img {
   grid-row: 1/3;
}

h1, h2, h3, h4, h5 {
  font-family: 'Play', cursive;
  margin-top: 5%;
  text-align: center;
}

p {
  font-family: 'M PLUS Rounded 1c';
}

.icon {
  float: left;
  width: 240px;
  height: auto;
}

nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #000;
  border-top:1px solid rgba(0,0,0,0.3);
}

nav ul li.active a{background-color: #90143d; color: #ffff;}

nav ul li a:hover {background-color: #5f0f2a; color: #ffff;}

nav ul.hide {display: none;}

main {
  max-width: 80%;
  margin: 0 auto;
}

.hero {
  width: 100%;
}

.weathersummary {
  top: .5rem;
  left: 15px;
  margin: 1px 1px 10px 10px;
  background: radial-gradient(#eee, #1aff16);
  border: 1px solid #333;
  padding: 5px;
}

.threeday {
  top: .5rem;
  left: 15px;
  margin: 1px 1px 10px 10px;
  background: radial-gradient(#1aff16, #eee);
  border: 1px solid #333;
  padding: 5px;
}

.excitingtext {
padding: 5px;
color: #d8d8d8;
border: 2px solid #90143d;
background-color: #23395b;
max-width: 350px;
display: block;
  margin-left: auto;
  margin-right: auto;
}

.excitingimg {
  width: 250px; /* width of container */
   height: 250px; /* height of container */
  overflow: hidden;
  object-fit: cover;
  border: 2px solid #90143d;
  justify-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.eventspage {
  margin: 20px 0px 0px 0px;
    padding: 5px;
    color:  #23395b;
    border: 2px solid #90143d;
    background-color: #d8d8d8 ;
    max-width: 350px;
    display: block;
      margin-left: auto;
      margin-right: auto;
    font-size: 125%;
}

.sponsorsimg {
  padding: 10px;
  width: 350px;
  height: 350px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.finaltext {
  display: block;
  bottom: 20px;
  right: 20px;
  left: 20px;
  background-color: #23395b;
  color: white;
  padding: 5px;
}

.finalwarning {
  display: block;
   margin-left: auto;
  margin-right: auto; 
  /* overflow: hidden; */
  padding: 10px;
  width: 80%;
 }

.finalwarning img {
  width: 80%;
}

footer {
  text-align: center;
  background-color: #9e9e9e;
  }

#byulink {
      color: rgb(46, 46, 46);
  }
 
  .social {
    width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .social img {
    width: 20%
  }

  .marstory1 {
    padding: 5px;
color: #d8d8d8;
border: 2px solid #90143d;
background-color: #23395b;
max-width: 100%;
display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .marstory2 {
    padding: 5px;
color: #d8d8d8;
border: 2px solid #90143d;
background-color: #23395b;
max-width: 100%;
display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .keylevel {
    width: 400px;
    padding: 5px;
    padding: 5px;
    color: #d8d8d8;
    border: 2px solid #23395b;
    background-color: #90143d;
    max-width: 100%;
    display: block;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;

  }

  form {
    padding: 5px;
    color: #d8d8d8;
    background-color: #23395b;
    max-width: 100%;
    display: block;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
  }

  form fieldset {
    margin: 2rem 0;
    border: 1px solid #1aff16;
    border-radius: 15px;
    padding: .5rem 2%;

}

form legend{
    color: #1aff16;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: .1rem;
    color: #1aff16;
    font-size: .8rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #d8d8d8;
    border-radius: 4px;
    padding: .75rem;
    color: rgb(206, 206, 206);
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);

}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: rgb(221, 221, 221);
}

form input.submitBtn {
    border: none;
    background-color: #90143d;
    color: white;
    border-radius: 1rem; 
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 50%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  margin: 30px;
  grid-gap: 30px;
  background-color: #23395b;
  border: 1px;
  column-gap: 15px;
  padding: 10px;
  color: #c4c4c4;
  justify-items: center;

  }

  .cards img {
    width: 400px;
    justify-items: center;

  }


  .events {
    background-color: #23395b; color: #ffff;
    margin: 10px;      
  }

  
.contact {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  background-color: #90143d;
  color: #d8d8d8;
  text-align: center;
 }

.contact img {
  width: 90%;
}

#contacttext {
  text-align: center;
  padding: 15px;
   grid-column: 2/2;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}