@media only screen and (min-width: 35rem) {

  .icon {
    float: right;
    width: 200px;
    height: auto;
}

nav button {display:none;}

nav ul.hide {display: block;}

nav ul {
    margin-left: 2%;
    max-width: 800px;
}
nav ul li {
    display: block;
}

.allwx {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formkey {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;

}

/* 
.weathersummary {
grid-column: 1/2;
}

.threeday {
  grid-column: 2/2;
} */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  grid-gap: 30px;
  background-color: #23395b;
  border: 1px;
  column-gap: 15px;
  padding: 10px;
  color: #c4c4c4;
  justify-items: center;
  }

  .cards img {
    width: 300px;
    justify-items: center;

  }

}