@media only screen and (min-width: 64rem) {


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


img {
    display: block;
    min-width: 50px;
    min-height: 50px; 
    width: 100%;
    /*border: 1px solid red; */
    
}

}