.cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px;
    grid-gap: 30px;
    background-color: darkseagreen;
    border: 1px;
    column-gap: 15px;
    padding: 10px;
    

}

h1 {
    padding: 20px;
    margin: 20px;
    border: 20px;
}

img {
    min-width: 50px;
    min-height: 200px; 
   /* border: 1px solid red;*/
    width: 100%;
    box-shadow: 10px 10px 30px 5px dimgrey ;
}

img:hover {
    box-shadow: 20px 20px 30px 15px dimgrey ;
}

 img[data-src]{
    filter: blur(0.8em);

  }
  
   img{
    filter: blur(0em) ;
        transition: filter 1.5s;
  }