@media only screen and (min-width: 35rem) {

    .icon {
        float: right;
        width: 200px;
        height: auto;
    }

    nav button {display:none;}

    nav ul.hide {display: block;}

    nav ul {
        margin-left: 2%;
    }
    nav ul li {
        display: block;
      /*  float: left;*/
    }

    nav ul li a {
        border: none;
        border-right: 1px solid #8f3b29;
        padding: .8rem 1rem;
    }

    .fiveday {
        display: inline;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    
    .hero-ph {
        position: absolute;
            margin: 10px auto;
            background: radial-gradient(#eee, #c75839);
            border: 1px solid #333;
            width: 230px;
    height: 250px;
        }
        
        
        .weathersummary {
        position: absolute;
        top: 1rem;
        left: 15px;
        }

        #bronze {
            float: right;
        
        }

        #marsmap {
            display: block;
            width: 100%;
            max-height: auto;
            float: left;
        
        }

}