@media only screen and (min-width: 64rem) {
    
    .icon {
        float: left;
        width: 250px;
        height: auto;
    }

    nav button {display:none;}

    nav ul.hide {display: block;}

    nav ul {
        margin: 0 auto;
        height: 100%;
    }
    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid #8f3b29;
        padding: .6rem 1rem;
    }

    .figurebatch {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .lazyimage {
        display: block;
        min-width: 50px;
        min-height: 50px; 
        width: 100%;         
    }

    .lazyimage:hover {
        box-shadow: 20px 20px 30px 15px dimgrey ;
    }

    .card1 {
        display: grid;
        max-width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
     }  

     section {
         display: block;
         width: 100%;
     }
     

     .cincodia img {
        min-width: 100px;
        min-height: 50px; 
        box-shadow: 5px 5px 10px 5px dimgrey ;
    } 
    

}