table, th, td, tr  {
    font-family: "Ubuntu", sans-serif;
  }

table {
    box-shadow: 0 20px 20px 0;
    /*border-spacing: 5px;*/
    /*padding: 1px;*/
}

thead th {
    text-align: center;
    color: black;
    background-color: #7fb9c2 ;
    font-size: 130%;
    padding: 10px;
}

th {
    background-color: #628ca6 ;
    color: white;
    font-size: 115%;
}

table, th, td {
    border: 1px solid darkgray;
    border-collapse: collapse;
    padding: 5px;
  }

  tr:nth-child(odd) {
      background-color: #e7f0ed;
  }

  tr:nth-child(even) {
      background-color: #e7ffed ;
  }

  tfoot th {
    color: black;
    background-color: #7fb9c2 ;
    font-size: 80%;
  }

  #seventyfive {
    background-color: #628ca6
  }

  body {
      text-align: center;
  }